#root {
  width: 100%;
  height: 100vh;
}

.icon-edit {
  background-image: url("../public/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-delete {
  background-image: url("../public/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
